/* much of this code from
http://tuftsdev.github.com/WebProgramming/examples/google_maps/geolocation_map.html*/

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	width: 100%;
	height: 100%;
}